@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?p6b4o');
  src:  url('../fonts/icomoon/icomoon.eot?p6b4o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?p6b4o') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?p6b4o') format('woff'),
    url('../fonts/icomoon/icomoon.svg?p6b4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 /* Icons created with icomoon.io/app */


.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav li:nth-child(1) a:hover {
	color: #F69;
}

.tabs nav li:nth-child(2) a:hover {
	color: #6C3;
}

.tabs nav li:nth-child(3) a:hover {
	color: #63C;
}

.tabs nav li:nth-child(4) a:hover {
	color: #F0D513;
}

.tabs nav li:nth-child(5) a:hover {
	color: #F79715;
}


.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li:nth-child(1).tab-current {
	border: 2px solid #F69;
	box-shadow: inset 0 2px #F69;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li:nth-child(2).tab-current {
	border: 2px solid #6C3;
	box-shadow: inset 0 2px #6C3;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li:nth-child(3).tab-current {
	border: 2px solid #63C;
	box-shadow: inset 0 2px #63C;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li:nth-child(4).tab-current {
	border: 2px solid #F0D513;
	box-shadow: inset 0 2px #F0D513;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li:nth-child(5).tab-current {
	border: 2px solid #F79715;
	box-shadow: inset 0 2px #F79715;
	border-bottom: none;
	z-index: 100;
}


.tabs nav li:nth-child(1).tab-current:before,
.tabs nav li:nth-child(1).tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #F69;
}

.tabs nav li:nth-child(2).tab-current:before,
.tabs nav li:nth-child(2).tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #6C3;
}

.tabs nav li:nth-child(3).tab-current:before,
.tabs nav li:nth-child(3).tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #63C;
}

.tabs nav li:nth-child(4).tab-current:before,
.tabs nav li:nth-child(4).tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #F0D513;
}

.tabs nav li:nth-child(5).tab-current:before,
.tabs nav li:nth-child(5).tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #F79715;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav li:nth-child(1).tab-current a {
	color: #F69;
}

.tabs nav li:nth-child(2).tab-current a {
	color: #6C3;
}

.tabs nav li:nth-child(3).tab-current a {
	color: #63C;
}

.tabs nav li:nth-child(4).tab-current a {
	color: #F0D513;
}

.tabs nav li:nth-child(5).tab-current a {
	color: #F79715;
}


/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

.icon-fruit:before {
  content: "\e90b";
  color: #fff;
}
.icon-home:before {
  content: "\e90c";
  color: #fff;
}
.icon-menu:before {
  content: "\e920";
  color: #fff;
}
.icon-pass:before {
  content: "\e926";
  color: #fff;
}
.icon-shop:before {
  content: "\e927";
  color: #fff;
}
.icon-budou:before {
  content: "\e900";
  color: #c081b5;
}
.icon-ichigo:before {
  content: "\e904";
  color: #f29989;
}
.icon-melon:before {
  content: "\e905";
  color: #74bd58;
}
.icon-mikan:before {
  content: "\e907";
  color: #fbc300;
}
.icon-nashi:before {
  content: "\e908";
  color: #e4d134;
}

/* Content */
.content section {
	background-color:#FFF;
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 50%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: left;
		width: 50%;
		padding: 0 25px;
	}

	.mediabox img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		float: left;
		width: 100%;
		padding: 0 25px;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}