d@charset "UTF-8";
/*base.css */

/*Base setting_____________________________________*/
body {
	color: #FFFFFF;
	font: 14px/1.6 Century Gothic,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	overflow-x: hidden;
	background: F8F1E7;
}


/*header*/
header {
	width:100%;
	z-index:2;
	position:fixed;
	background: rgba(255,255,255,0.9)}
/*header menu_____________________________________*/
header {display:table;font-size:0;line-height:0}
header h1, nav {display:table-cell}
nav {text-align:right;vertical-align:bottom}
header h1 a img {height:40px;margin:10px}
header ul {font-size:19px;line-height:1;margin:0 5px 5px 0}
header ul li {margin-left:3px; display:inline-block}
header ul li::after {content:' |'}
header ul li:last-child::after {content:''}
header ul li a {color:inherit; display:inline-block;}


/*layout_____________________________________*/
/*wrap*/
#wrap {display:table; height:100%; height:100vh; width:100%}
#wrap section {display:table-cell; vertical-align:middle}
#wrap section p { width:90%; margin:auto}


/*Media-queries_____________________________________*/
@media screen and (max-width: 768px) {
html {-webkit-text-size-adjust:100%}/*disable webkit text size adjust (for iPhone)*/
a img:hover {opacity:1}
header h1 a img {height:30px}
header ul li {margin-left:3px; display:block}
header ul li::after {content:' '}

}


/*
==========================================================================
  スマートフォン用CSS
==========================================================================
*/




/*----------------------------------*/
/*--------- 果物狩りトップ ---------*/
/*----------------------------------*/

#fruit1 {
	width:80%;
	margin:0 auto;
}

#fruit1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#fruit1 ul li {
	width:45%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	display:inline-block;
	vertical-align:top;
	margin-right:10%;
	letter-spacing:0em;
}

#fruit1 ul li:nth-child(2n) {
	margin-right:0;
}

#fruit1 ul li:last-child {
	margin-bottom:0px;
}

#fruit1 ul li p {
	margin-bottom:10px;
	font-size:16px;
	text-align:center;
	letter-spacing:0em;
}

#fruit1 ul li img {
	width:100%;
	border-radius:100%;
	margin-bottom:10px;
}


.end-start img{
	width:90%;
	margin:0 auto 50px;
	text-align:center;
}


/********** 果物狩り詳細 **********/  


.fruit-contents-container{
	width:90%;
	margin:0 auto;
}

.fruit-inner-weappre{
	margin-right:4%;
	display:inline-block;
	vertical-align:top;
	width:80%;
	letter-spacing:0em;
}

.fruit-inner-wrapper td, th {
	padding: 5px 15px;
	line-height: 180%;
	letter-spacing: 0em;
}

.fruit-inner-wrapper p {
	font-weight:bold;
	color:#F36366;
	margin:0;
}

.fruit-inner-wrapper img{
	margin-bottom:10px;
	width:90%;
	text-align:center;
}





/********** 果物狩り料金表 **********/  


/**** メロン料金表 ****/ 

.price-contents-container h1{
	text-align:center;
	letter-spacing:0em;
}

.price-contents-container{
	width:90%;
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
}

.price-contents-container table {
	margin-left: auto;
	margin-right: auto;
}


/* メロン料金表(スマホ用) */ 


#sp-fruitprice table{
	margin-bottom:20px;
}

#sp-fruitprice table:last-child{
	margin-bottom:5px;
}

#sp-fruitprice:last-child{
	margin-bottom:500px;
}

#sp-fruitprice table td{
	padding: 5px 5px;
}

#sp-fruitprice table td strong{
	color:#FFFFFF;
	line-height:150%;
}

#pc-fruitprice{
	display:none;
}



/**** いちご料金表 ****/ 

#ichigo-fruitprice table{
	margin-bottom:20px;
}

#ichigo-fruitprice table:last-child{
	margin-bottom:5px;
}

#ichigo-fruitprice:last-child{
	margin-bottom:100px;
}

#ichigo-fruitprice table td{
	padding: 5px 5px;
}

#ichigo-fruitprice table td strong{
	color:#FFFFFF;
	line-height:150%;
}



/**** ぶどう料金表 ****/ 

#budou-fruitprice table{
	margin-bottom:20px;
}

#budou-fruitprice table:last-child{
	margin-bottom:5px;
}

#budou-fruitprice:last-child{
	margin-bottom:100px;
}

#budou-fruitprice table td{
	padding: 5px 5px;
}

#budou-fruitprice table td strong{
	color:#FFFFFF;
	line-height:150%;
}



/**** みかん料金表 ****/ 

#mikan-fruitprice table{
	margin-bottom:20px;
}

#mikan-fruitprice table:last-child{
	margin-bottom:5px;
}

#mikan-fruitprice:last-child{
	margin-bottom:100px;
}

#mikan-fruitprice table td{
	padding: 5px 5px;
}

#mikan-fruitprice table td strong{
	color:#FFFFFF;
	line-height:150%;
}




/********** 果物狩りカレンダー **********/  


.cal-inner-wrapper{
	margin-bottom:80px;
}

.cal-contents-container h1{
	text-align:center;
	letter-spacing:0em;
}

.cal-contents-container{
	width:80%;
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
}

.cal-contents-container table {
	margin-bottom:30px;
	margin-left: auto;
	margin-right: auto;
}

.cal-contents-container table:last-child {
	margin-bottom:5px;
}

.cal-contents-container:last-child {
	margin-bottom:100px;
}






/*----------------------------------*/
/*--------- 館内案内トップ ---------*/
/*----------------------------------*/

#guide1 {
	width:80%;
	margin:0 auto 60px;
}

#guide1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#guide1 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#guide1 ul li:last-child {
	margin-bottom:0px;
}

#guide1 ul li p {
	margin-bottom:10px;
	font-weight:bold;
	font-size:20px;
}

#guide1 ul li a {
	padding:5px 10px;
	background-color:#c5d341;
	color:#fff;
	font-weight:bold;
}

#guide1 ul li a:hover {
	background-color:#693;
}

#guide1 ul li img {
	width:100%;
	border-radius:20px;
}

#guide1 ul li:first-child{
	margin-top:20px;
}





#guide2 img {
	width:0 auto;
	margin:20px 0 10px 0;
	border-bottom: 3px dotted #727171;
}


#guide2 img.second {
	width:0 auto;
	margin:50px 0 10px 0;
	border-bottom: 3px dotted #727171;
}

#guide2 {
   text-align:center;
}

#guide2 p{
   display:inline-block;
   text-align:left;
}





#guide3 {
	width:95%;
	margin:0 auto 60px;
}

#guide3 ul {
	font-size:0;
	letter-spacing:-1em;
}

#guide3 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#guide3 ul li img {
	width:100%;
	border-radius:20px;
}

#guide4 h1 {
	font-size:28px;
	font-weight:bold;
}

#guide4 h1 img {
	vertical-align: bottom;
}

#guide4 {
   text-align:center;
}

#guide4 p{
   display:inline-block;
   text-align:left;
}










#miyage {
	width:80%;
	margin:0 auto 60px;
}

#miyage ul {
	font-size:0;
	letter-spacing:-1em;
}

#miyage ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#miyage ul li:last-child {
	margin-bottom:0px;
}

#miyage ul li p {
	margin-bottom:10px;
	font-size:17px;
	line-height:130%;
}

#miyage ul li a {
	padding:5px 10px;
	background-color:#c5d341;
	color:#fff;
	font-weight:bold;
}

#miyage ul li a:hover {
	background-color:#693;
}

#miyage ul li img {
	width:100%;
	border-radius:20px;
}

#miyage ul li:first-child{
	margin-top:20px;
}




/********** S-event **********/  

#event-icon {
	width:50%;
	margin:0 auto 60px;
}

#event-icon ul {
	font-size:0;
	letter-spacing:-1em;
}

#event-icon ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
}

#event-icon ul li:last-child {
	margin-bottom:0px;
}

#event-icon ul li p {
	margin-bottom:10px;
}

#event-icon ul li:first-child{
	margin-top:20px;
}




#subtitle h1 {
	font-size:25px;
	padding: 10px;
	color:#ffffff;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color:#F4B54A;
	width:50%;
	display:inline-block;
}

#subtitle p {
	margin:0;
	text-align:center;
	font-size:19px;
	font-weight:bold;
}

#subtitle {
	margin-bottom:40px;
}



/**屋外BBQについて　Sここから**/
.eventb{
	margin-bottom:60px;
	letter-spacing:0em;
}

.eventb h1{
	font-size:25px;
	font-weight:bold;
}

.eventb{
	margin-bottom:30px;
}

.event-contents table{
	margin-left: auto;
	margin-right: auto;
}

.eventb table{
	width:90%;
	margin-bottom:20px;
}

.eventb table:last-child{
	margin-bottom:5px;
}

.eventb:last-child{
	margin-bottom:20px;
}

.eventb table td{
	padding: 10px 10px;
}

.eventb table td strong{
	color:#FFF;
	line-height:150%;
}

.eventb p img{
	margin-bottom:10px;
	width:80%;
	text-align:center;
}

.eventb p {
	font-weight:bold;
	color:#F36366;
	margin:0;
	line-height:150%;
}

.eventb h4 {
	position: relative;
	padding: 0 .4em .1em;
}
.eventb h4::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 10px;
	background-color: #EBCE05;
}

.eventb b {
	font-weight:bold;
	color:#333;
	margin:0;
	line-height:140%;
}

.eventb p {
	font-weight:bold;
	color:#F74D51;
	margin-bottom:5px;
	line-height:140%;
	display: inline-block;
	text-align: left;
}

.eventb h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}






.eventb-comment{
	padding-bottom:50px;
	letter-spacing:0em;
}

.eventb-comment h1{
	font-size:25px;
	font-weight:bold;
}

.eventb-comment{
	margin-bottom:30px;
}

.event-contents table{
	margin-left: auto;
	margin-right: auto;
}

.eventb-comment table{
	width:90%;
	margin-bottom:20px;
}

.eventb-comment table:last-child{
	margin-bottom:5px;
}

.eventb-comment:last-child{
	margin-bottom:20px;
}

.eventb-comment table td{
	padding: 10px 10px;
}

.eventb-comment table td strong{
	color:#FFF;
	line-height:150%;
}

.eventb-comment p img{
	margin-bottom:10px;
	width:80%;
	text-align:center;
}

.eventb-comment p {
	font-weight:bold;
	color:#F36366;
	margin:0;
	line-height:150%;
}

.eventb-comment h4 {
	position: relative;
	padding: 0 .4em .1em;
}
.eventb-comment h4::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 10px;
	background-color: #EBCE05;
}

.eventb-comment b {
	font-weight:bold;
	color:#333;
	margin:0;
	line-height:140%;
}

.eventb-comment p {
	font-weight:bold;
	color:#F74D51;
	margin-bottom:5px;
	line-height:140%;
	display: inline-block;
	text-align: left;
}

.eventb-comment h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}



/**屋外BBQについて　Sここまで**/



/**メロンの休日企画について　Sここから**/
.event-melon{
	margin-bottom:60px;
	letter-spacing:0em;
}

.event-melon h1{
	font-size:25px;
	font-weight:bold;
}

.event-melon{
	margin-bottom:30px;
}

.event-contents-melon table{
	margin-left: auto;
	margin-right: auto;
}

.event-melon table{
	width:90%;
	margin-bottom:20px;
}

.event-melon table:last-child{
	margin-bottom:5px;
}

.event-melon:last-child{
	margin-bottom:5px;
}

.event-melon table td{
	padding: 10px 10px;
}

.event-melon table td strong{
	color:#FFF;
	line-height:150%;
}

.event-melon p img{
	margin-bottom:10px;
	width:80%;
	text-align:center;
}

.event-melon p {
	font-weight:bold;
	color:#F36366;
	margin:0;
	line-height:150%;
}

.event-melon h4 {
	position: relative;
	padding: 0 .4em .1em;
}
.event-melon h4::after {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 10px;
	background-color: #EBCE05;
}

.event-melon b {
	font-weight:bold;
	color:#333;
	margin:0;
	line-height:140%;
}

.event-melon p {
	font-weight:bold;
	color:#F74D51;
	margin-bottom:5px;
	line-height:140%;
	display: inline-block;
	text-align: left;
}

.event-melon h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}

.event-contents-melon h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}


/**イベント予約状況カレンダー**/
.event-meloncal{
	margin-bottom:80px;
}

.event-contents-melon h1{
	text-align:center;
	letter-spacing:0em;
}

.event-contents-melon{
	width:80%;
	margin-top:40px;
	margin-left: auto;
	margin-right: auto;
}

.event-contents-melon table {
	margin-bottom:30px;
	margin-left: auto;
	margin-right: auto;
}

.event-contents-melon table:last-child {
	margin-bottom:5px;
}

.event-contents-melon:last-child {
	margin-bottom:100px;
}

.event-meloncal h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}

/**メロンの休日企画について　Sここまで**/





/******** S-kanko ********/

#ja {
	text-align:center;
	margin-bottom:50px;
}

#ja img {
	max-width: 100%;
    height: auto;
}

#aichi {
	text-align:center;
	margin-bottom:50px;
}

#aichi img {
	max-width: 85%;
    height: auto;
}

#button img {
	max-width: 85%;
    height: auto;
}

#kanko {
	margin-bottom:40px;
}

#kanko img{
	margin:5px auto;
	max-width: 100%;
}

#kanko1 {
	width:80%;
	margin:0 auto 40px;
}

#kanko1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#kanko1 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#kanko1 ul li:last-child {
	margin-bottom:0px;
}

#kanko1 ul li p {
	margin-bottom:10px;
}

#kanko1 ul li a {
	padding:5px 10px;
	background-color:#c5d341;
	color:#fff;
	font-weight:bold;
}

#kanko1 ul li a:hover {
	background-color:#693;
}

#kanko1 ul li img {
	width:100%;
	border-radius:20px;
}

#kanko1 ul li:first-child{
	margin-top:20px;
}





#kanko-spot {
	width:90%;
	margin:0 auto 60px;
}

#kanko-spot ul {
	margin-top:50px;
	font-size:0;
	letter-spacing:-1em;
}

#kanko-spot ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:40px;
	letter-spacing:0em;
	padding:0 5px;
	background-color:#FFFFFF;
	border-radius:20px;
	box-shadow:3px 3px 8px;
    border:1px solid #CCC;
}

#kanko-spot h1{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	margin-bottom:0;
	line-height:100%;
}

#kanko-spot h2{
	font-size:15px;
	font-weight:bold;
	color:#DF394A;
	text-align:left;
	margin-bottom:3;
}

#kanko-spot p{
	text-align:left;
	line-height:150%;
}

#kanko-spot ul li img {
	width:100%;
	margin-bottom:7px;
}


#yado-spot {
	width:90%;
	margin:0 auto 60px;
}

#yado-spot ul {
	margin-top:50px;
	font-size:0;
	letter-spacing:-1em;
}

#yado-spot ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:40px;
	letter-spacing:0em;
	padding:0 5px;
	background-color:#FFFFFF;
	border-radius:20px;
	box-shadow:3px 3px 8px;
    border:1px solid #CCC;
}

#yado-spot h1{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	margin-bottom:0;
	line-height:100%;
}

#yado-spot h2{
	font-size:15px;
	font-weight:bold;
	color:#DF394A;
	text-align:left;
	margin-bottom:3;
}

#yado-spot p{
	text-align:left;
	line-height:150%;
}


/******** S-course ********/


#course1 {
	width:80%;
	margin:0 auto 40px;
}

#course1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#course1 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#course1 ul li:last-child {
	margin-bottom:0px;
}

#course1 ul li p {
	margin-bottom:10px;
}

#course1 ul li img {
	width:100%;
	border-radius:20px;
}

#course1 ul li:first-child{
	margin-top:20px;
}




#course2 {
	width:80%;
	margin:0 auto 40px;
}

#course2 ul {
	font-size:0;
	letter-spacing:-1em;
}

#course2 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:100px;
	letter-spacing:0em;
}

#course2 ul li:last-child {
	margin-bottom:0px;
}

#course2 ul li p {
	margin-bottom:10px;
	font-weight:bold;
}

#course2 ul li img {
	margin-bottom:10px;
	width:100%;
}

#course2 ul li:first-child{
	margin-top:20px;
}


#course2 p {
	border-style:solid;
	border-width:1px;
	padding:5px 5px 5px 5px;
	background:#ffffff;
	box-shadow: 3px 3px 3px #AAA;
}



.absolute {
	position: absolute;
	bottom: 1%;
	left: 10%;
	font-weight:bold;
	font-size:90%;
	text-align:left;
}

.absolute p {
	line-height: 120%;
}

.relative {
    position: relative;
}


#course2 .arrow {
	text-align:center;
	width:25%;
}
	
	
	

/******** S-menu ********/

　　　　　　　　
#menuk {
	width:90%;
	margin:0 auto;
}

#menuk ul {
	margin-top:50px;
	font-size:0;
	letter-spacing:-1em;
}

#menuk ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
	padding:0 5px;
	background-color:#FFFFFF;
}

#menuk h1{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding-top:2px;
	margin-bottom:0;
	line-height:100%;
}

#menuk h2{
	font-size:17px;
	font-weight:bold;
	color:#DF394A;
	text-align:left;
	margin-bottom:3;
}

#menuk ul li img {
	width:100%;
	margin-bottom:7px;
	margin-top:5px;
}

#menuk {
	width:90%;
	margin:0 auto 5px;
}

#menuk img{
	width:0 auto;
}

#menuk ul {
	font-size:0;
	letter-spacing:-1em;
}

#menuk ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	display:inline-block;
	vertical-align:top;
	margin-right:4%;
	letter-spacing:0em;
	padding:0px 10px;
}

#menuk ul li p {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:15px;
	text-align:left;
	line-height:150%;
	margin-bottom:10px;
}


#menuk ul li p strong{
	font-size:22px;
}


#menuk ul li a {
	padding:5px 5px;
	font-weight:bold;
}




.menuk-comment {
	width:90%;
	text-align:left;
	margin:0 auto;
	margin-bottom:80px;
	letter-spacing:0em;
}

.menuk-comment p {
	font-weight:bold;
	color:#333;
	margin:0;
	line-height:140%;
}

.menuk-comment b {
	font-weight:bold;
	color:#F74D51;
	margin-bottom:10px;
	line-height:140%;
	display: inline-block;
	text-align: left;
}



.menubh-contents{
	width:100%;
	margin:0 auto;
	letter-spacing:-1em;
}

.menubh-contents h1{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:25px;
	font-weight:bold;
}

.menubh-contents h2{
	width:100%;
	text-align:center;
	margin:0 auto 7px;
	letter-spacing:0em;
	font-size:20px;
	font-weight:bold;
}


.menubh{
	width:90%;
	margin:50px auto 0;
	padding-bottom:50px;
	letter-spacing:0em;
}
	
.menubh img{
	display:block;
	width:100%;
	text-align:center;
}

.menubh table {
	padding:10px 0 30px;
}

.menubh table img{
	width:auto;
}

.menubh strong{
	color:#FFF;
}

.menubh td, th {
	padding: 5px 10px;
	line-height: 150%;
	letter-spacing: 0em;
}

.menubh p {
	font-weight:bold;
	color:#F36366;
	margin:0;
	line-height:150%;
}

/******** S-magazine ********/


#magazine {
	text-align:center;
	margin-bottom:50px;
}

#magazine img {
	max-width: 85%;
    height: auto;
}



#magazine1 {
	width:80%;
	margin:0 auto 40px;
}

#magazine1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#magazine1 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	letter-spacing:0em;
}

#magazine1 ul li:last-child {
	margin-bottom:0px;
}

#magazine1 ul li p {
	margin-bottom:10px;
}

#magazine1 ul li img {
	width:100%;
}

#magazine1 ul li:first-child{
	margin-top:20px;
}






/******** S-access ********/

#access1 {
	width:50%;
	margin:0 auto 60px;
}

#access1 ul {
	font-size:0;
	letter-spacing:-1em;
}

#access1 ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
}

#access1 ul li:last-child {
	margin-bottom:0px;
}

#access1 ul li p {
	margin-bottom:10px;
}

#access1 ul li:first-child{
	margin-top:20px;
}



/***車・電車***/
.contents-container {
	width:90%;
	margin: 0 auto;
}

.access-inner-wrapper {
	width:90%;
	margin:70px auto;
}

.access-inner-wrapper img {
	display: block;
	width:100%;
	margin-bottom:20px;
	text-align:center;
}




/***自転車***/
.contents-container-cycle {
	width:90%;
	margin: 0 auto;
}

.cycle-inner-wrapper {
	width:90%;
	margin:70px auto;
}

.cycle-inner-wrapper img.cycle-title {
	width:100%;
	margin:0 auto;
	text-align:center;
}
	
.cycle-inner-wrapper img {
	display: block;
	width:100%;
	margin-top:20px;
	text-align:center;
}

.contents-container-cycle p {
	margin-top:10px;
	line-height:150%;
    display:inline-block;
	text-align:left;
}

.cycle-inner-wrapper p.text1 {
	font-weight:bold;
	margin-top:10px;
	line-height:150%;
    display:inline-block;
	text-align:left;
}

.cycle-inner-wrapper .cycle p.text3 {
	color:#FB2F34;
	font-weight:bold;
	margin-top:10px;
	line-height:150%;
    display:inline-block;
	text-align:left;
}


/******** S-login ********/

.login-contents-container{
	width:90%;
	text-align:center;
	margin:0 auto;
}

.login-inner-wrepper{
	margin-bottom:30px;
}

.login-inner-wrepper h1{
	text-align:center;
	font-size:25px;
	margin:0;
}

.login-inner-wrepper formTable{
	display:block;
	margin:0 auto;
}
	
	
.login-inner-wrepper p{
	text-align:left;
	margin:0;
}

.login-contents-container .login{
	margin-bottom:50px;
}

.login-inner-wrepper .login p.readMore a {
	display:inherit;
	padding: 1em;
	margin: 0 5em ;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: #ebc416;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #999;
	-webkit-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}


.login-inner-wrepper .login p.readMore a:hover {
	background: #f3dd74;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;
	box-shadow: 0px 0px 2px #999;
}



.login-inner-wrepper .pass p.readMore a {
	display:inherit;
	padding: 1em;
	margin: 0 5em ;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: #078FBC;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #999;
	-webkit-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}


.login-inner-wrepper .pass p.readMore a:hover {
	background: #5AB5EB;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;
	box-shadow: 0px 0px 2px #999;
}



.under {
	border-bottom: dotted 2px #87CEFA;
}



/******** S-Language ********/


#Language {
	width:70%;
	margin:0 auto;
}

#Language ul {
	font-size:0;
	letter-spacing:-1em;
}

#Language ul li {
	width:45%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
	display:inline-block;
	vertical-align:top;
	margin-right:10%;
	letter-spacing:0em;
}

#Language ul li:nth-child(2n) {
	margin-right:0;
}

#Language ul li:last-child {
	margin-bottom:0px;
}

#Language ul li p {
	margin-bottom:10px;
	font-size:16px;
	text-align:center;
	letter-spacing:0em;
}

#Language ul li img {
	width:100%;
	border-radius:100%;
	margin-bottom:10px;
}



#pull-down {
	font-size:15px;
	margin:15px 10px 5px 0;	
}

#pull-down img{
	margin:5px 5px 5px 10px;
	vertical-align:bottom;
}

/******** S-event ********/
#title1 img {
	margin-bottom:30px;
	margin-top:50px;
	max-width:100%;
	height: auto;
}

#title1 {
	text-align:center;
}


.event1 img {
	margin-bottom:5px;
	margin-top:5px;
	max-width:100%;
	height: auto;
}
.event2 img {
	margin-bottom:5px;
	margin-top:5px;
	max-width:100%;
	height: auto;
}
.event3 img {
	margin-bottom:5px;
	margin-top:5px;
	max-width:100%;
	height: auto;
}
.event4 img {
	margin-bottom:5px;
	margin-top:15px;
	max-width:100%;
	height: auto;
}

.event-table h1 {
	text-align:center;
	font-weight:bold;
	font-size:20px;	
}


/******** S-FAQ ********/

#sp-faqmenu {
	width:100%;
	text-align:center;
	margin:0 auto 60px;
}

#sp-faqmenu ul {
	font-size:0;
}

#sp-faqmenu ul li {
	width:100%;
	font-size:16px;
	text-align:center;
	margin-bottom:10px;
}

#sp-faqmenu ul li:last-child {
	margin-bottom:0px;
}

#sp-faqmenu ul li p {
	margin-bottom:10px;
}

#sp-faqmenu ul li:first-child{
	margin-top:20px;
}


.faq-conteiner img {
	margin-top:30px;
	max-width:100%;
	height: auto;
}

.faq-conteiner {
	text-align:center;
}

/******** S-FAQ(質問部分) ********/

section .syncer-acdn-faq {
    margin: 5px 0 10px 0;
}

section .syncer-acdn-faq dt ,
section .syncer-acdn-faq dd {
	padding: 4px 0 ;
}

section .syncer-acdn-faq dt:hover {
	cursor: pointer ;
	color: #777 ;
}

section .syncer-acdn-faq dt {
	font-weight: 700 ;
}

section .syncer-acdn-faq dd {
	display: none ;
	padding: 12px 0 1.5em 1.5em ;
}

section {
	text-align:center;
}

section .syncer-acdn-faq {
    display:inline-block;
	text-align:left;
}


/******** S-course ********/


.course-contents-container1 table{
	margin-left: auto;
	margin-right: auto;
}

.course-contents-container1 {
	text-alingn:center;
	font-size:25px;
}

.course-inner-wrapper1 table{
	width:60%;
	margin-bottom:10px;
	background-image: url(../img/background_spring.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color:#FFF;
	padding: 1em;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.course-inner-wrapper1 p{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:left;
	padding-bottom: .1em;

}

.course-inner-wrapper2 table{
	width:60%;
	margin-bottom:10px;
	background-image: url(../img/background_summer.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color:#FFF;
	padding: 1em;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.course-inner-wrapper2 p{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:left;
	padding-bottom: .1em;

}

.course-inner-wrapper3 table{
	width:60%;
	margin-bottom:15px;
	background-image: url(../img/background_autumn.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color:#FFF;
	padding: 1em;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.course-inner-wrapper3 p{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:left;
	padding-bottom: .1em;

}

.course-inner-wrapper4 table{
	width:60%;
	margin-bottom:15px;
	background-image: url(../img/background_winter.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color:#FFF;
	padding: 1em;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.course-inner-wrapper4 p{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:left;
	padding-bottom: .1em;
}

.course-inner-wrapper5 table{
	width:60%;
	margin-bottom:30px;
	background-image: url(../img/background_castle.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color:#FFF;
	padding: 1em;
	border: 5px solid #CCC;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

.course-inner-wrapper5 p{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:center;

	
}

.course-color01 {
	color:#ff5252;
}

.course-color02 {
	color:#79a850;
}

.course-color03 {
	color:#df9026;
}

.course-color04 {
	color:#1965a2;
}

.course-color05 {
	color:#9a2424;
}

body.modelcourse{
color:#666;
	font:14px/1.6 Century Gothic,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	overflow-x:hidden;
	background-image:url(../img/course-background.png);
	background-repeat:repeat;
}


/******** S-refill ********/

.refill-conteiner {
	width:80%;
	margin:0 auto;
	text-align:center;
}


.refill-inner-wrapper img {
	width:90%;
	font-size:16px;
	text-align:center;
	margin-bottom:30px;
}

.course-inner-wrapper h1{
	font-size:25px;
	padding: 10px;
	color:#ffffff;
	margin-bottom: 100px;
	border: 5px double #333333; 
	border-radius: 10px;
	background-color:#F4B54A;
	width:80%;
	display:inline-block;
	font-size:25px;
	font-weight:bold;
}



/******** S-googlemap ********/
#google-maps {
	position: relative;
	padding-bottom:100%;
	height: 0;
	overflow: hidden;
}
#google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}	



/******** S-title ********/
#title img {
	margin-bottom:30px;
	margin-top:100px;
	max-width:100%;
	height: auto;
}

#title {
	text-align:center;
}

#title p {
    display:inline-block;
	text-align:left;
}



#subtitle img {
	margin-bottom:10px;
	max-width:100%;
	height: auto;
}

#subtitle {
	text-align:center;
}

#subtitle p {
    display:inline-block;
	text-align:left;
}




#subtitle1 img {
	margin-top:50px;
	max-width:100%;
	height: auto;
}

#subtitle1 {
	text-align:center;
}

#subtitle1 p {
    display:inline-block;
	text-align:left;
}


/******** S-link ********/
figure.link {
	margin-bottom:100px;
	max-width:100%;
	height: auto;
	text-align: center;
	padding:5px;
}



/******** S-tel ********/
#access{
	padding: 3em 0 1em 0;
	max-width:100%;
	height: auto;
	text-align: center;
}
#access img{
	width:80%;
}



/******** S-top ********/
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color:#000000;
    text-align: center;
    color:#FFFFFF;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color:#000000;
    text-align: center;
    color:#CCC;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}



/********** S-footer **********/  

footer{
	font-family:"メイリオ", "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
	font-size:15px;
	background-color:#cedc39;
	padding:30px;
}


footer b {
	font-size:20px;
}

body{
 margin:0;
}

#header{
 background-color:#9cf;
}

#title{
	font-family:"メイリオ", "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
	margin:0;
}

footer img.o_logo{
	vertical-align: bottom;
}





/* Section Dividers Backgrounds */

.divider4 {
	background-image: url('../img/bg/divider4.jpg');
}

.divider6 {
	background-image: url('../img/bg/divider6.jpg');
}

/**========================================**/
/**====Sリフィールタブメニュー開始====**/
/**========================================**/

ul#tabs-list {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  margin: -5px auto;
  padding: 0;
}
 
label.panel-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  /**ラベル幅**/
  width: 100%;
  color: #bdc3c7;
  cursor: pointer;
  background-color: #ecf0f1;
  -webkit-transition-property: border-top, background-color, color;
  transition-property: border-top, background-color, color;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
label.panel-label:hover {
 /**タブ：オンマウス時　線の色**/
  color: #999;
}
 
#panels {
  background-color: white;
}
#panels .container {
  margin: 0 auto;
  width: 90%;
}
#panels section header label.panel-label {
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#panels section main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  overflow-y: hidden;
}
 
#panel-1-ctrl:checked ~ #panels #panel-1 main {
  max-height: initial;
  opacity: 1;
  /**コンテンツ幅**/
  padding: 400px 24px;
}
 
#panel-2-ctrl:checked ~ #panels #panel-2 main {
  max-height: initial;
  opacity: 1;
  /**コンテンツ幅**/
  padding: 400px 24px;
}
 
#panel-3-ctrl:checked ~ #panels #panel-3 main {
  max-height: initial;
  opacity: 1;
  /**コンテンツ幅**/
  padding: 400px 24px;
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1:last-child {
    border-right: 1px solid #dfdfdf;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    background-color: white;
    color: #f7931e;
	/**タブ線・文字色**/
    border-top: 6px solid #f7931e;
    padding-top: 5px;
  }
 
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2:last-child {
    border-right: 1px solid #dfdfdf;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    background-color: white;
    /**タブ線・文字色**/
	color: #3fa9f5;
    border-top: 6px solid #3fa9f5;
    padding-top: 5px;
  }
 
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    transform: translate(0, 1px);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3:last-child {
    border-right: 1px solid #dfdfdf;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    background-color: white;
    /**タブ線・文字色**/
	color: #7ac943;
    border-top: 6px solid #7ac943;
    padding-top: 5px;
  }
 
   ul#tabs-list li {
   
    /**タブ：文字サイズ**/
	font-size: 150%;
 
  }
  
  input[type="radio"]{
	display:none;
}
  
